<%= error_messages_for 'work_order' %>

<h2 class="inline-flex"><%= l(:label_work_order) %></h2>
<span class="badge badge-status-<%= @work_order.status %>">
    <%= l("statuses.work_order.#{@work_order.status}") %>
</span>


<fieldset>
    <legend><strong>1. <%= l(:label_identification).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <h3><strong><%= l(:label_work_order_number) %>: </strong><%= @work_order.id %></h3>
        </div>

        <div class="splitcontentleft">

            <p><strong><%= l(:field_contract) %>: </strong><%= @work_order.contract.name %></p>
            <p><strong><%= l(:field_contracts_object) %>: </strong><%= @work_order.static_data[:identification][:object] %></p>
            <p><strong><%= l(:field_contractor) %>: </strong><%= @work_order.contract.contractor %></p>
            <p><strong><%= l(:field_agent) %>: </strong><%= @work_order.contract.agent.user.name %></p>
            
        </div>
        <div class="splitcontentright">
            
            <p><strong><%= l(:label_issue_date) %>: </strong><%= I18n.l(@work_order.static_data[:identification][:issue_date].to_date) %></p>
            <p><strong><%= l(:field_cnpj) %>: </strong><%= @work_order.static_data[:identification][:cnpj] %></p>
            <p><strong><%= l(:field_terms_start) %>: </strong><%= I18n.l(@work_order.static_data[:identification][:terms_start].to_date) %></p>
            <p><strong><%= l(:field_terms_end) %>: </strong><%= I18n.l(@work_order.static_data[:identification][:terms_end].to_date) %></p>
        </div>

    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>2. <%= l(:label_requester_area).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <p><strong><%= l(:field_requester_unity) %>: </strong><%= @work_order.static_data[:requester_area][:unity] %></p>
        </div>
        
        <div class="splitcontentleft">
            <p><strong><%= l(:label_requester) %>: </strong><%= @work_order.static_data[:requester_area][:requester] %></p>
        </div>
        
        <div class="splitcontentright">
            <p><strong><%= l(:field_mail) %>: </strong><%= @work_order.static_data[:requester_area][:requester_email] %></p>
        </div>

    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>3. <%= l(:label_work_order_objective).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <p><%= @work_order.static_data[:objective] %></p>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>4. <%= l(:label_work_plan_items).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <p><%= render 'work_plan_items/index' %></p>
            <p style="text-align: right;"><strong><%= l(:label_nominal_value) %></strong> <%= number_to_currency(@work_order.static_data[:nominal_value]) %></p>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>5. <%= l(:label_performance_target).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <%= l(:text_productivity_target) %>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>6. <%= l(:label_allocation_period).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <%= I18n.l(@work_order.static_data[:days_allocation][:start_date].to_date) %> a <%= I18n.l(@work_order.static_data[:days_allocation][:end_date].to_date) %> - <%= @work_order.static_data[:days_allocation][:calendar_days] %> <%= l(:label_calendar_days) %>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>7. <%= l(:label_schedule_products_deadlines).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <p> <%= render 'work_orders/schedule' %></p>
            <p style="text-align: right;"><strong><%= l(:label_work_order_deadline) %></strong> <%= I18n.l(@work_order.static_data[:deadline].to_date) %></p>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>8. <%= l(:label_obligatory_non_functional_requirements).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <% @work_order.static_data[:non_funcional_requirements].each do |item| %>
                <p><%= item[:subject] %></p>
            <% end %>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>9. <%= l(:label_authorization_signatures).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <%= l(:text_authorization_signatures) %>
            <p style="text-align: right;">
                <%= l(:label_location) %>, <%= I18n.l(Date.parse(@work_order.static_data[:identification][:issue_date]), format: :long) %>
            </p>
            <br><br>
            <p style="text-align: center; width: 30ch; border-top: 2px solid black; margin: auto;">
                <%= @work_order.static_data[:requester_area][:requester] %>
                <p style="text-align: center;"><%= l(:default_role_requester) %></p>
            </p>
            <br><br>
            <p style="text-align: center; width: 30ch; border-top: 2px solid black; margin: auto;">
                <%= @work_order.static_data[:contract_manager] %>
                <p style="text-align: center;"><%= l(:default_role_contract_manager) %></p>
            </p>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>10. <%= l(:label_value_review).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
                <p><%= @work_order.notes.presence || l(:text_not_available_notes) %></p>
                <p style="text-align: right;"> <strong><%= l(:label_discounts) %></strong> <%= number_to_currency(@work_order.discount) %></p>
                <p style="text-align: right;"> <strong><%= l(:field_total) %></strong> <%= number_to_currency(@work_order.total) %></p>
        </div>
    </div>
</fieldset>
<br>
<fieldset>
    <legend><strong>11. <%= l(:label_receipt_terms).upcase %></strong></legend>
    <div class="splitcontent">
        <div class="splitcontenttop">
            <br><br><br><br>
        </div>
    </div>
</fieldset>
<br>