<% if User.current.allowed_to_globally?(:manage_contract) %> 

  <% if @contract_member.errors.any? %>
    <%= error_messages_for @contract_member %>
  <% end %>

  <% if @contract_member %>

    <fieldset class="box tabular">
      <% if @contract_member.new_record? %>
        
        <p><%= f.select :user_id, member_options, required: true %></p>
        <% @contract_member.role_options.each do |role| %>
          <p>
            <%= check_box_tag "contract_member[role_ids][]", role.id, @contract_member.role_ids.include?(role.id) %>
            <%= label_tag "contract_member_role_ids_#{role.id}", role.name %>
          </p>
        <% end %>

      <% else %>
        <%= hidden_field_tag "contract_member[user_id]", @contract_member.user_id %>
        <% if @contract_member.profile == 'contract member' %>
          <% @contract_member.role_options.each do |role| %>
            <p>
              <%= check_box_tag "contract_member[role_ids][]", role.id, @contract_member.role_ids.include?(role.id) %>
              <%= label_tag "contract_member_role_ids_#{role.id}", role.name %>
            </p>
          <% end %>

        <% elsif available_profiles.any? %>

          <p><%= f.select :item_id, available_profiles, required: true %></p>

        <% else %>
          <p class="nodata"><%= l(:text_need_create_items_first) %></p>
        <% end %>
      
      <% end %>

      
    </fieldset>
    <%= submit_tag l(@contract_member.new_record? ? :button_create : :button_save) %>
  <% end %>


<% end %>