<%= error_messages_for 'work_plan' %>

<h2 class="inline-flex"><%= l(:label_work_plan) %></h2>
<span class="badge badge-status-<%= @work_plan.status %>">
    <%= l("statuses.work_plan.#{@work_plan.status}") %>
</span>

<%= render 'work_plans/head' %>

<h3><%= l(:label_sprint_plural) %></h3>
<% if can_plan_work_plan? %>
    <div class="contextual">
        <%= 
            link_to(l(:label_demand_backlog), 
            product_backlog_path(@work_plan.issue.demand_backlog),
            :class => 'icon icon-product-backlog') 
        %>
    </div>
<% end %>
  
<% if @work_plan.sprints.present? %> 
    <%= render 'work_plans/sprints' %>

    <br><br>
    <h3><%= l(:label_work_plan_items) %></h3>

    <% if can_plan_work_plan? %>
        <div class="contextual scrum-menu">
            <%= 
                link_to(l(:label_new_work_plan_item), 
                new_work_plan_work_plan_item_path(@work_plan),
                :class => 'icon icon-add') 
            %>
        </div>  
    <% end %>
    
    <% if @work_plan.work_plan_items.blank? %>
        <div class="nodata"><%= l(:label_no_data) %></div>
    <% else %>
        <br><br>
        <%= render 'work_plan_items/index'  %>
    <% end %>
<% else %>
    <br><br>
    <div class="nodata"><%= l(:label_no_data) %></div>
<% end %>









