<% sprints = JSON.parse(@work_plan.sprints, symbolize_names: true) %>

<div id="content">
    <table class="list issues sort-by" id="sprintsTable">
        <thead>
            <tr>
                <th> <%= l(:field_name) %> </th>
                <th> <%= l(:label_deadline) %> </th>
                <th> <%= l(:label_version) %> </th>
                <th> <%= l(:label_story_plural) %> </th>
            </tr>
        </thead>
        <tbody>
            <% @sprints_objects.each do |sprint| %>
                <tr>
                    <td> Sprint <%= sprint[:index] %></td>
                    <td><%= sprint[:days] %> <%= l(:label_business_days)%></td>
                    <td>
                    <%= sprint[:versions].map do |version| 
                        link_to version, version_path(version) 
                    end.join(", ").html_safe %>
                    </td>
                    <td>
                    <%= sprint[:pbis].map do |pbi| 
                        link_to pbi.to_s[/#.*$/].strip, issue_path(pbi) 
                    end.join(", ").html_safe %>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>
</div>
 

<!-- <style>
    input[readonly] {
      border: none; /* Remove a borda */
      background-color: transparent; /* Fundo transparente */
      color: inherit; /* Mantém a cor padrão */
      pointer-events: none; /* Impede interações do usuário */
    }
  </style> -->




