<% if @project.present? && @project.contracts.any? && User.current.allowed_to_globally?(:manage_work_plan) %>
    <div class="contextual">
        <%= link_to l(:label_new_work_plan),
            new_project_work_plan_path(@project, @work_plan),
            class: 'icon icon-add'
                
        %>
    </div>
<% end %>

<%= title l(:label_work_plans) %>

<% if @work_plans.any? %>

    <div id="content">

        <table class="list issues sort-by" id="work_plansTable">
            <thead>
                <tr>
                    <th> # </th>                 
                    <th> <%= l(:field_project) %> </th> 
                    <th> <%= l(:field_issue) %> </th>
                    <th> <%= l(:field_status) %> </th>
                        <% if User.current.allowed_to_globally?(:manage_work_plan) %>
                        <th></th>
                        <th></th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @work_plans.each do |work_plan| %>
                <tr>
                    <td><%= work_plan.id %></td>
                    <td><%= link_to work_plan.project.name, project_path(work_plan.project) %></td>
                    <td><%= link_to work_plan.issue, issue_path(work_plan.issue) %></td>
                    <td><%= I18n.t("statuses.work_plan.#{work_plan.status}") %></td>
                    <% if User.current.allowed_to_globally?(:manage_work_plan) %>
                        <td>
                            <%= link_to l(:button_edit), 
                                edit_work_plan_path(work_plan), 
                                class: 'icon icon-edit'
                            %>
                            <%= link_to l(:button_delete), 
                                work_plan_path(work_plan), 
                                method: :delete, 
                                data: { confirm: l(:text_are_you_sure) }, 
                                class: 'icon icon-del'
                            %>
                        </td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

